pydantic==2.5.2
redis>=4.2.0rc1
docx2txt==0.8
six==1.16.0
beautifulsoup4==4.12.2
pdfminer.six==20221105
html2text==2020.1.16
git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/accelerate.git
transformers[sentencepiece]
docx2txt==0.8
six==1.16.0
beautifulsoup4==4.12.2
pdfminer.six==20221105
html2text==2020.1.16
sentence-transformers==2.2.2
datasets==2.15.0
bitsandbytes==0.41.3.post2
xformers==0.0.23.post1
einops==0.7.0
spacy==3.7.2